.grand-hotel-regular {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    /* margin-left: 1rem; */
}

.header {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
}


.navbar-items {
    display: flex;
    width: 100%;
    justify-content: end;
    /* padding-right: 2rem; */
}

.nav-item {
    padding: 0 0.3rem; 
}

.header-nav-link {
    color: white;
}

.header-nav-link:hover,
.header-nav-link:focus {
    background-color: white;
}

.go-top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 83);
    bottom: 3rem;
    right: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 40px 10px white;
}

.go-top:hover {
    cursor: pointer;
}

.go-top-item {
    text-decoration: none;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}